*{
	margin:0;
	padding:0;
	border: 0;
	box-sizing: border-box;
	
	}
body{
	font-size: 110%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
	color:#0CC;
	
}

header{
	width: 100%;
	background-color: antiquewhite;
	padding: 10px;

}
footer{
	width: 100%;
	background-color:aquamarine;
	padding: 10px;

}
nav{
	width: 100%;
	background-color:aqua;
	text-align: center;
	}

nav a {
	display: inline-block;
	color: #000000;
	text-align: center;
	text-decoration: none;
	width: 25%;
	border: 1px solid #000000;
	padding: 10px;
	}
nav a:hover {
	display: inline-block;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	width: 25%;
	background-color: #000000;
	border: 1px solid #000000;
	padding: 10px;
}


.sectionTop{
	width: 100%;
	overflow: auto;
	background-color: #C11F22;

}
.sectionGeneral{
	width: 100%;
	overflow: auto;
	background-color:#1466A2;

}


.topArticle{
	width: 50%;
	background-color:#C11F22;
	padding: 10px;
	float:left;

}
.bottomArticle{
	width: 25%;
	background-color:gray;
	padding: 10px;
	float:left;

}
img{
	width: 100%;
	height:auto;
}
video{
	width: 100%;
	height:auto;
}
/*Media Queries*/

@media (max-width:768px) {
	
	.topArticle{
	width: 100%;
	background-color:#C11F22;
	padding: 10px;
	float:none;

}
	.bottomArticle{
	width: 100%;
	background-color:gray;
	padding: 10px;
	float:none;

}

nav a {
	width: 100%;
		}
		
nav a:hover {
	width: 100%;
		
}

}
